* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif, 'Ubuntu', sans-serif, Helvetica, sans-serif, Segoe UI, sans-serif;
  color: white;
  background-color: black
}

/* ==================================== HEADER SECTION ======================================== */

header {
  border-bottom: 0.5rem solid rgb(82, 81, 81);
  background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#logo {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

#chevron {
  width: 2rem;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem 0;
}

.header_container a {
  text-decoration: none;
  color: white;
  background-color: red;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 85vh;
}

.hero_section h1 {
  font-size: 3rem;
  width: 40%;
  text-align: center;
  line-height: 50px;
}

.hero_section p {
  font-size: 1.6rem;
}

label {
  font-size: 1.2rem;
  font-weight: 400;
}

.form_container {
  text-align: center;
}

.get_started {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#email {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 1rem 0.5rem;
  width: 25rem;
  outline: none;
}

#signup_btn {
  color: white;
  background-color: red;
  border: none;
  border-radius: 0 4px 4px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  padding: 0.44rem 2rem 0.44rem 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ======================TV SECTION (SECOND SECTION)========================= */

.first_sect {
  border-bottom: 0.5rem solid rgb(82, 81, 81);
  height: 85vh;
}

.tv_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 5rem 0;
}

.side_tv h1 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.side_tv p {
  font-size: 1.7rem;
  width: 80%;
}

#tv_img {
  width: 50%;
}

video {
  position: relative;
  left: 45.5rem;
  bottom: 21.2rem;
  width: 32%;
  z-index: -1;
}

/* ======================Second_sect (THIRD SECTION)========================= */

.second_sect {
  border-bottom: 0.5rem solid rgb(82, 81, 81);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8rem;
  margin-top: 3rem;
}

#mobile {
  width: 100%;
}

#str_things {
  width: 5rem;
  padding-right: 2rem;
}

#download {
  width: 1.5rem;
}

.stranger_things {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  width: 65%;
  border: 2px solid grey;
  border-radius: 15px;
  position: relative;
  left: 5rem;
  bottom: 8rem;
  background-color: black;
}

.str_text {
  margin-right: 4rem;
}

.str_text h3 {
  font-size: 1rem;
}

.str_text p {
  padding-top: 0.2rem;
  font-size: 0.9rem;
  color: #0071eb;
}

.right_side h1 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
  width: 90%;
}

.right_side p {
  font-size: 1.7rem;
  width: 80%;
}

/* ======================third_section (THIRD SECTION)========================= */

.third_section {
  border-bottom: 0.5rem solid rgb(82, 81, 81);
  padding: 3.5rem 6rem;
}

.third_section h1 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.third_section p {
  font-size: 1.7rem;
  width: 50%;
}

/* ======================kids_section (FOURTH SECTION)========================= */

.kids_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  border-bottom: 0.5rem solid rgb(82, 81, 81);
  padding: 7rem 6rem;
  gap: 3rem;
}

#Netlify_kids {
  width: 45%;
}

.kids_text h1 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.kids_section p {
  font-size: 1.7rem;
  width: 95%;
}

/* ======================faqs (FIFTH SECTION)========================= */

.faqs {
  border-bottom: 0.5rem solid rgb(82, 81, 81);
  padding: 5rem 6rem;
  text-align: center;
}

.faqs h1 {
  font-size: 3rem;
  padding-bottom: 2.5rem;
}

.questions {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.each_question {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  background-color: rgb(53, 52, 52);
  margin-bottom: 0.5rem;
}

.each_question h3 {
  font-size: 1.7rem;
  font-weight: 400;
  padding: 1.5rem;
}

#plus {
  width: 2.5rem;
  padding-right: 1rem;
}

/* ====================== FOOTER ========================= */

footer {
  padding: 5rem 15rem 2.5rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.each_faq {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.each_faq a {
  text-decoration: none;
  font-size: 0.85rem;
  color: #737373;
}

footer h5 {
  font-weight: 300;
  color: #737373;
}

footer a {
  text-decoration: none;
  color: #737373;
}